# https://docs.oracle.com/middleware/12213/wls/NODEM/java_nodemgr.htm#GUID-726AB710-EE45-4756-918B-6BCF7EEBF8EA

DomainsFile={{ domain_home }}/nodemanager/nodemanager.domains
PropertiesVersion=12.2.1.3.0
AuthenticationEnabled=true
NodeManagerHome={{ domain_home }}/nodemanager
JavaHome={{ java_home }}
DomainsFileEnabled=true
StartScriptName=startWebLogic.sh
ListenAddress={{ ansible_nodename }}
NativeVersionEnabled=true
ListenPort=5556
SecureListener=true
StopScriptEnabled=false
QuitEnabled=false

# prevent infinite log file growth
LogAppend=false
LogLevel=INFO
LogLimit=0
LogCount=1
LogToStderr=false
LogFile={{ domain_home }}/nodemanager/nodemanager.log
LogFormatter=weblogic.nodemanager.server.LogFormatter

StateCheckInterval=500
CrashRecoveryEnabled=true
StartScriptEnabled=true
ListenBacklog=50

KeyStores=CustomIdentityAndJavaStandardTrust
CustomIdentityKeystoreType=JKS
CustomIdentityKeyStoreFileName={{ identity_keystore_file }}
CustomIdentityKeyStorePassPhrase={{ keystore_password }}
CustomIdentityAlias={{ ansible_nodename }}
CustomIdentityPrivateKeyPassPhrase={{ keystore_password }}
CipherSuites=TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA


